/**
 * css
 *
 * @author null
 * @date 2024-02-20
 * @link <a href="https://github.com/dkbnull/hello-bill">GitHub</a>
 */
.layui-layer-custom .layui-layer-title {
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    color: var(--text-light);
}

.layui-layer-custom .layui-layer-setwin {
    display: none;
}

.layui-layer-custom .layui-layer-btn .layui-layer-btn0 {
    width: 90px;
    height: 38px;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-weight: bold;
    margin-right: 20px;
}

.layui-layer-custom .layui-layer-btn .layui-layer-btn1 {
    width: 90px;
    height: 38px;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    color: var(--text-dark);
}
