/**
 * user-change-password.html css
 *
 * @author null  2024-02-19
 */
.password-error {
    color: #FD482C;
    height: 10px;
}

.layui-form-item {
    margin-top: 30px;
    text-align: center;
}

.layui-form-item .layui-inline {
    margin-bottom: 0;
}

.layui-form-item .layui-input {
    width: 85%;
}

.layui-btn {
    width: 90px;
    height: 38px;
    font-size: 14px;
}

.btn-confirm {
    background-color: #333333;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 20px;
}

.btn-cancel {
    color: #333333;
}