/**
 * home.html css
 *
 * @author dukunbiao(null)  2020-12-29
 * https://github.com/dkbnull/HelloBill
 */
.layui-layout-admin .layui-header {
    /*background-color: #B58F61;*/
}

.layui-layout-admin .layui-body {
    top: 50px;
    bottom: 0;
}

.layui-layout-admin .layui-header .layui-logo,
.layui-layout-admin .layui-header .layui-nav-item,
.layui-layout-admin .layui-header .layui-nav-item .layui-icon-username,
.layui-layout-admin .layui-header .layui-nav-item .username {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.layui-header .layui-nav .layui-nav-child a:hover,
.layui-header .layui-nav .layui-nav-child dd.layui-this a:hover {
    background-color: #666666;
    color: #FFFFFF;
}

.layui-nav-tree .layui-nav-item a:hover,
.layui-nav-tree .layui-nav-child a:hover {
    background-color: #666666;
}

.layui-bg-black,
.layui-side-scroll,
.layui-nav-tree,
.layui-nav-child {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    /*background-color: #B58F61 !important;*/
}

.layui-nav-itemed > .layui-nav-child {
    /*background-color: rgba(0, 0, 0, .1) !important;*/
}

.layui-nav-tree .layui-nav-item a:hover,
.layui-nav-tree .layui-nav-child a:hover {
    /*background-color: #EEAE78;*/
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a {
    /*background-color: #C9B58C;*/
}

.layui-nav-item a {
    cursor: pointer;
}

.layui-body .layui-tab {
    padding: 0;
    border: 0;
    height: 88%;
    width: 99%;
}

.layui-body .layui-tab-content,
.layui-body .layui-tab-item,
.layui-body .frame {
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.layui-body .frame {
    padding: 10px;
}

.tab-popup-menu {
    width: 100px;
    z-index: 9999;
    background-color: #FFFFFF;
    padding: 4px;
    color: #333333;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    cursor: pointer;
    display: none;
    position: absolute
}

.tab-popup-menu li {
    text-align: center;
    display: block;
    height: 30px;
    line-height: 30px;
}

.tab-popup-menu li:hover {
    background-color: #666666;
    color: #FFFFFF;
}

.layui-tab-title .layui-this {
    font-size: 16px;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.layui-layer-custom .layui-layer-title {
    background-color: #393D49;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

.layui-layer-custom .layui-layer-setwin {
    display: none;
}