/**
 * *-report.html css
 *
 * @author dukunbiao(null)  2021-01-26
 * https://github.com/dkbnull/HelloBill
 */
.report-date {
    width: 100%;
    text-align: center;
}

#report-class-pie-chart,
#report-class-bar-chart,
#report-detail-bar-chart {
    width: 700px;
    height: 800px;
    margin: 0 auto;
}

.report-second-class-pie-chart-item {
    width: 50%;
    height: 300px;
    margin: 0 auto;
}

.report-display-none {
    display: none
}