/**
 * *-report.html css
 *
 * @author null  2021-01-26
 * https://github.com/dkbnull/HelloBill
 */
.report-date {
    width: 100%;
    text-align: center;
}

.report-row {
    width: 100%;
    text-align: center;
}

.report-chart {
    height: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.report-second-class-pie-chart-item {
    width: 50%;
    height: 300px;
    margin: 0 auto;
}

.report-display-none {
    display: none
}